/* Scss Document */

.pos-r {
  position: relative!important;
}
.white {
  background: #fff;
}
.text-white {
  color: #fff!important;
}
.text-gray {
  color: #363636;
}
.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border:2px solid black;
}
.separator {
  width: 14%;
  height: 3px;
  margin: 1.2em auto 1em;
  background: #ffc53a;
  // border: 5px solid saddlebrown;
}
.one-slide {
border-radius: 3px;
margin-left: 1rem;
margin-right: 1rem;
font-size: 1.1rem;


box-shadow: 0 4px 8px 0 rgba(0,0,0,0.0);
transition: 0.3s;
width: 25%;
height: 150%;
position: relative;

border:2px solid black;




}






.one-slide img {
width: 40%;
}
.carousel-controls .control {
position: absolute;
cursor: pointer;
top: 10%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);
// border:2px solid black;

}
.prev {
left: 0;
// border:2px solid black;

}
.next {
right: 0;
// border:2px solid black;

}








.card-image{

  border-radius: 5px 5px 0 0;

}

.one-slide:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.card-inside-container {
/* padding: 2px 16px; */
position:absolute;
// display: flex;
flex-direction: column;
margin-top:-22%;

width: 100%;
height: auto;
padding: 10% 0% 10% 10%;
opacity: 1;
background-color: #b5d653;
border: saddlebrown 5px solid;

z-index: 5;



border-radius: 0 0 5px 5px ;
}
.card-heading {
width: 100%;

font-family: Montserrat;
font-size: 1.2rem;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 1;
letter-spacing: normal;
text-align: left;
color: #fff;
}

.card-text {
width: 100%;


font-family: Montserrat;
font-size: 0.9rem;
font-weight: 300;
font-stretch: normal;
font-style: normal;
line-height: 1;
letter-spacing: normal;
text-align: left;
color: #fff;
}










.testimonial-carousel { 
&.slick-initialized { 
  display: block; 
}
.message {
  width: 100%;
  font-size: .9rem;
}
.brand {
  width: 100%;
}
@media (max-width: 575px) {
  .one-slide {
    height: 200px;
  }
  img {
      width: 40%;
    }
}
}